
{{#each accounts as |account|}} {{log account}}
  <li class="account">
    <h4>
      <span>{{account.lastName}}, {{account.firstName}}</span>
      {{#if account.orders}}
        <span>({{account.orders.length}})</span>
      {{/if}}
    </h4>

    <div class="actions">
      {{#link-to 'accounts.detail' account}}
        <span>View details</span>
      {{/link-to}}

      <button {{action 'accountSignIn' account}}>Sign In</button>
    </div>
  </li>
{{/each}}
