
<header>
  #{{order.id}} {{order.statusMessage}}
  <span class="email">
    {{#link-to 'accounts.detail.overview' order.account.id}}
      {{order.account.email}}
    {{/link-to}}
  </span>
</header>

<footer class="actions">
  {{#unless order.refunded}}
  <button {{action 'refundOrder' order}}>
    <span>Refund order</span>
  </button>
  {{/unless}}

  <button {{action 'resendInvoice' order}}>
    <span>Resend invoice</span>
  </button>

  {{#link-to 'orders.detail' order class="link"}}
    <span>Details</span>
  {{/link-to}}
</footer>
