
<header>
  #{{order.id}} {{order.statusMessage}} / {{order.account.email}}
</header>

<footer class="actions">
  {{#unless order.refunded}}
  <button {{action 'refundOrder' order}}>
    <span>Refund order</span>
  </button>
  {{/unless}}

  <button {{action 'resendInvoice' order}}>
    <span>Resend invoice</span>
  </button>

  {{#link-to 'orders.detail' order class="link"}}
    <span>Details</span>
  {{/link-to}}
</footer>
