
<header>
  <h3>Order confirmation</h3>
</header>

<main>
  <p>Order information to be here...</p>
  <ul class="shit-list">
    <li class="shit">
      {{model.emailAddress}}
    </li>
    <li class="shit">
      {{model.shippingFirstName}}
    </li>
    <li class="shit">
      {{model.shippingLastName}}
    </li>
  </ul>
</main>

<footer>
  <button {{action 'printOrder' order}}>
    <span>Print order</span>
  </button>

  <button {{action 'saveOrder' order}}>
    <span>Save order</span>
  </button>
</footer>
