
<h4>{{account.name}}</h4>

<h3>/detail</h3>

<ul class="detail-list">
  <li class="detail">
    <span>firstName: </span> {{account.firstName}}
  </li>

  <li class="detail">
    <span>lastName: </span> {{account.lastName}}
  </li>

  <li class="detail">
    <span>fullName: </span> {{account.fullName}}
  </li>

  <li class="detail">
    <span>id: </span> {{account.id}}
  </li>

  <li>
    <span>slug: </span> {{account.slug}}
  </li>

  <li>
    <span>email: </span> {{account.email}}
  </li>

  {{#if account.handle}}
  <li>
    <span>handle: </span> {{account.handle}}
  </li>
  {{/if}}

  {{#if account.orders}}
  <aside>
    <header>
      <h2>Subscriptions</h2>
    </header>

    <ul class="order-list">
    {{#each account.orders as |order|}}
      <li class="order">
        {{#link-to 'orders.detail' order.id}}
          <span>Order #{{order.id}}</span>
        {{/link-to}}
      </li>
    {{/each}}
    </ul>
  </aside>
  {{/if}}

</ul>

{{#link-to 'accounts.detail.edit' account}}
  <span>Edit</span>
{{/link-to}}

<button {{action 'deleteAccount' account}}>
  <span>Delete account</span>
</button>
