
<h3>/detail</h3>

<h4>Order #{{model.id}}</h4>

<ul class='detail-list'>
  <li class='detail'>Placed by: {{model.shippingFirstName}} {{model.shippingLastName}}</li>
  <li class='detail'><span>statusCode</span>: {{model.statusCode}}</li>
  <li class='detail'><span>status</span>: {{model.statusMessage}}</li>
  <li class='detail'><span>date</span>: {{moment-format model.date 'MMMM D, YYYY'}}</li>
  <li class="detail"><span>time</span>: {{moment-format model.date 'h:mm A'}}</li>
  <li class="spacer"></li>
  <li class='detail'><span>order ID</span>: {{model.id}}</li>
</ul>

<footer class="actions">

  <button {{action 'resendInvoice' order}}>
    <span>Resend invoice</span>
  </button>

  {{#unless order.refunded}}
    <button {{action 'refundOrder' order}}>
      <span>Refund order</span>
    </button>
  {{/unless}}

</footer>
