
<h3>/detail</h3>

<h4>Order #{{order.id}}</h4>

<ul class='detail-list'>
  <li class='detail'>Placed by: {{order.account.fullName}} {{order.shippingLastName}}</li>
  <li class='detail'><span>statusCode</span>: {{order.statusCode}}</li>
  <li class='detail'><span>status</span>: {{order.statusMessage}}</li>
  <li class='detail'><span>date</span>: {{moment-format order.date 'MMMM D, YYYY'}}</li>
  <li class="detail"><span>time</span>: {{moment-format order.date 'h:mm A'}}</li>
  <li class="spacer"></li>
  <li class='detail'><span>order ID</span>: {{order.id}}</li>
  <li class="spacer"></li>
  <li>
    <span>EXP month: </span> {{order.cardExpirationMonth}}
  </li>

  <li>
    <span>EXP year: </span> {{order.cardExpirationYear}}
  </li>
</ul>

<footer class="actions">

  <button {{action 'resendInvoice' order}}>
    <span>Resend invoice</span>
  </button>

  {{#unless order.refunded}}
    <button {{action 'refundOrder' order}}>
      <span>Refund order</span>
    </button>
  {{/unless}}

  <br /> <br /> <br />
  <div class="associated-account">
    {{#link-to 'accounts.detail.overview' order.account.id}}
      {{order.account.email}}
    {{/link-to}}
  </div>

</footer>
