
<h3>/detail</h3>

<h4>Order #{{model.id}}</h4>

<ul class='detail-list'>
  <li class='detail'><span>statusCode</span>: {{model.statusCode}}</li>
  <li class='detail'><span>statusMessage</span>: {{model.statusMessage}}</li>
  <li class='detail'><span>date</span>: {{model.date}}</li>
  <li class="spacer"></li>
  <li class='detail'><span>order ID</span>: {{model.id}}</li>
  <li class='detail'><span>email</span>: {{model.emailAddress}}</li>
  <li class='detail'><span>firstName</span>: {{model.shippingFirstName}}</li>
  <li class='detail'><span>lastName</span>: {{model.shippingLastName}}</li>
</ul>
