
{{site-header}}

<header class="page-section page-header">
<div class="inner-w">

  {{!-- <h1>/application</h1> --}}

  {{#if session.currentUser}}
    <div>You are logged in as {{session.currentUser.name}} <button {{action 'accountSignOut'}}>Sign out</button></div>
  {{/if}}

  <nav class="main-menu">
    <ul class="item-list">
      <li class="item">
        {{link-to 'Account list' 'accounts.list' class="link"}}
      </li>
      <li class="item">
        {{link-to 'Order list' 'orders.list' class="link"}}
      </li>
      <li class="item">
        {{link-to 'Surface area' 'surface-area' class="link"}}
      </li>
      <li class="item">
        {{link-to 'Product detail' 'product-detail' class="link"}}
      </li>
    </ul>
  </nav>

</div>
</header>



<section class="page-section">
<div class="inner-w">

  <div class="outlet application-outlet">{{outlet}}</div>

</div>
</section>
